<!-- # Package:       Flippen Lekka order calculator
 # Date:          Sat Jun 06 2015
 # Author:        Louis Cabano <www.louiscabano.com>
 # Description:


/*Product creator class*/

class Product {
     function Product($price, $shipW, $spiceW, $cost ) {
         $this->price = $price ;
         $this->shipW = $shipW ;
         $this->spiceW = $spiceW ;
         $this->cost = $cost ;
     }
}

/*Flippen Lekka Spice*/

$fls_100 = new Product(11, 0.125, 0.095, 6);
$fls_200 = new Product(18, 0.215, 0.180, 6);
$fls_500g = new Product(45, 0.510, 0.500, 6);
$fls_750g = new Product(60, 0.760, 0.750, 6);
$fls_1kg = new Product(80, 0.125, 0.095, 6);
$fls_1kgTub = new Product(85, 0.125, 0.095, 6);

/*Flippen Lekka Spice Hot*/

$flsH_100 = new Product(11, 0.125, 0.095, 6);
$flsH_200 = new Product(18, 0.215, 0.180, 6);
$flsH_500g = new Product(45, 0.510, 0.500, 6);
$flsH_750g = new Product(60, 0.760, 0.750, 6);
$flsH_1kg = new Product(80, 0.125, 0.095, 6);
$flsH_1kgTub = new Product(85, 0.125, 0.095, 6);

/*Flippen Lekka Worcester Sauce spice*/

$flWs_100 = new Product(11, 0.125, 0.095, 6);
$flWs_200 = new Product(18, 0.215, 0.180, 6);
$flWs_500g = new Product(45, 0.510, 0.500, 6);
$flWs_750g = new Product(60, 0.760, 0.750, 6);
$flWs_1kg = new Product(80, 0.125, 0.095, 6);
$flWs_1kgTub = new Product(85, 0.125, 0.095, 6);

/*Flippen Lekka Curry Mix*/

$flCm_250ml = new Product(18, 0.215, 0.180, 6);
$flCm_500g = new Product(45, 0.510, 0.500, 6);
$flCm_1kg = new Product(80, 0.125, 0.095, 6);

-->

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>InservNet</title>

    <script src="js/angular.min.js"></script>
    <script src="js/calculator.js"></script>
    <!-- Bootstrap CSS-->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:300,700,400italic,400,300italic,600,600italic,700italic' rel='stylesheet' type='text/css'>
    <link href="css/style.css" rel="stylesheet">

</head>

<body ng-app="orderCalculator">

    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#"><span class="inLetters" >F</span>lippen<span class="inLetters">L</span>ekka</a>
            </div>
            <div id="navbar" class=" collapse navbar-collapse">
                <ul class="main-nav nav navbar-nav navbar-right">
                    <li class="active "><a href="#">Home</a>
                    </li>
                    <li><a target="_blank" href="http://louiscabano.com/sort-out/order_calculator/">Previous version</a>
                    </li>
                </ul>
            </div>
            <!-- nav-collapse -->
        </div>
    </nav>

    <!-- Section 1 - Calculator and Pricing -->

    <section ng-controller="CalculatorCtrl" id="intro">
        <div class="container">
            <div class="intro">
                <h2>ORDER CALCULATOR<small> v1.2.0</small></h2>
                <p>Simply enter the amount of items to order, and see a complete order summary.</p>
                <p>It calculates the total value, value per product, dry weight, shipping weight and stock required for the values entered.</p>

            </div>

            <div class="row">
                <form id="form" name="order_calculator">
                    <!--Column 1 -- Original -->
                    <div class="col-sm-3">
                        <h4 class="text-center"><span class="product-heading green-circle">Flippen Lekka Spice Original</span></h4>

                        <div class="form-group">
                            <input type="number" name="100ml" class="form-control" placeholder="100ml">
                        </div>
                        <div class="form-group">
                            <input type="number" name="200ml" class="form-control" placeholder="200ml">
                        </div>
                        <div class="form-group">
                            <input type="number" name="500g" class="form-control" placeholder="500g">
                        </div>
                        <div class="form-group">
                            <input type="number" name="750g" class="form-control" placeholder="750g">
                        </div>
                        <div class="form-group">
                            <input type="number" name="1kg" class="form-control" placeholder="1kg Bag">
                        </div>
                        <div class="form-group">
                            <input type="number" name="1kgTub" class="form-control" placeholder="1kg Tub">
                        </div>


                    </div>
                    <!--Column 2 -- HOT -->
                    <div class="col-sm-3">
                        <h4 class="text-center"><span class="product-heading red-circle">Flippen Lekka Spice Hot </span></h4>


                        <div class="form-group">
                            <input type="number" name="100mlH" class="form-control" placeholder="100ml">
                        </div>
                        <div class="form-group">
                            <input type="number" name="200mlH" class="form-control" placeholder="200ml">
                        </div>
                        <div class="form-group">
                            <input type="number" name="500gH" class="form-control" placeholder="500g">
                        </div>
                        <div class="form-group">
                            <input type="number" name="750gH" class="form-control" placeholder="750g">
                        </div>
                        <div class="form-group">
                            <input type="number" name="1kgH" class="form-control" placeholder="1kg Bag">
                        </div>
                        <div class="form-group">
                            <input type="number" name="1kgHtub" class="form-control" placeholder="1kg Tub">
                        </div>


                    </div>
                    <!--Column 3 -- WS -->
                    <div class="col-sm-3">
                        <h4 class="text-center"><span class="product-heading orange-circle">Worcester Sauce spice</span></h4>


                        <div class="form-group">
                            <input type="number" name="100mlW" class="form-control" placeholder="100ml">
                        </div>
                        <div class="form-group">
                            <input type="number" name="200mlW" class="form-control" placeholder="200ml">
                        </div>
                        <div class="form-group">
                            <input type="number" name="500gW" class="form-control" placeholder="500g">
                        </div>
                        <div class="form-group">
                            <input type="number" name="750gW" class="form-control" placeholder="750g">
                        </div>
                        <div class="form-group">
                            <input type="number" name="1kgW" class="form-control" placeholder="1kg Bag">
                        </div>
                        <div class="form-group">
                            <input type="number" name="1kgWtub" class="form-control" placeholder="1kg Tub">
                        </div>



                    </div>
                    <!--Column 4 -- Curry -->
                    <div class="col-sm-3">
                        <h4 class="text-center"><span class="product-heading yellow-circle">Flippen Lekka Curry Mix</span></h4>

                        <div class="form-group">
                            <input type="number" name="250mlC" class="form-control" placeholder="250ml">
                        </div>
                        <div class="form-group">
                            <input type="number" name="500gC" class="form-control" placeholder="500g">
                        </div>
                        <div class="form-group">
                            <input type="number" name="1kgC" class="form-control" placeholder="1kg Bag">
                        </div>
                        <div class="settings">
                            <div class="row text-center">
                                <button type="button" class="btn btn-default btn-block center-block" data-toggle="modal" data-target="#pricingModal">
                                    Change pricing &raquo;
                                </button>
                                <button id="calculate" ng-click="calculate()" class="btn btn-success btn-block center-block" style="" type="submit" name="submit">Calculate &raquo;</button>
                            </div>
                        </div>
                    </div>


                </form>
            </div>
            <!-- Modal -->

            <div class="modal fade" id="pricingModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span>
                            </button>
                            <h4 class="modal-title" id="myModalLabel">Change product pricing</h4>
                        </div>
                        <div class="modal-body">

                            <div class="row">
                                <!--Column 1-->
                                <div class="col-sm-6">
                                    <h4 class="text-center"><span class="product-heading green-circle">Flippen Lekka Spice Original</span></h4>

                                    <div class="form-group">
                                        <label class="col-sm-3 label-margin" for="100ml">100ml:</label>
                                        <div class="col-sm-9 input-group">
                                            <div class="input-group-addon">R</div>
                                            <input type="number" name="100ml" class="form-control" placeholder="100ml">
                                            <div class="input-group-addon">.00</div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-3 label-margin" for="100ml">200ml:</label>
                                        <div class="col-sm-9 input-group">
                                            <div class="input-group-addon">R</div>
                                            <input type="number" name="100ml" class="form-control" placeholder="200ml">
                                            <div class="input-group-addon">.00</div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-3 label-margin" for="100ml">500g:</label>
                                        <div class="col-sm-9 input-group">
                                            <div class="input-group-addon">R</div>
                                            <input type="number" name="100ml" class="form-control" placeholder="500g">
                                            <div class="input-group-addon">.00</div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-3 label-margin" for="100ml">750g:</label>
                                        <div class="col-sm-9 input-group">
                                            <div class="input-group-addon">R</div>
                                            <input type="number" name="100ml" class="form-control" placeholder="750g">
                                            <div class="input-group-addon">.00</div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-3 label-margin" for="100ml">1kg Bag:</label>
                                        <div class="col-sm-9 input-group">
                                            <div class="input-group-addon">R</div>
                                            <input type="number" name="100ml" class="form-control" placeholder="1kg Bag">
                                            <div class="input-group-addon">.00</div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-3 label-margin" for="100ml">1kg Tub:</label>
                                        <div class="col-sm-9 input-group">
                                            <div class="input-group-addon">R</div>
                                            <input type="number" name="100ml" class="form-control" placeholder="1kg Tub">
                                            <div class="input-group-addon">.00</div>
                                        </div>
                                    </div>

                             </div>
                                <!--Column 2-->
                                <div class="col-sm-6">
                                    <h4 class="text-center"><span class="product-heading red-circle">Flippen Lekka Spice Hot </span></h4>


                                    <div class="form-group">
                                        <label class="col-sm-3 label-margin" for="100ml">100ml:</label>
                                        <div class="col-sm-9 input-group">
                                            <div class="input-group-addon">R</div>
                                            <input type="number" name="100ml" class="form-control" placeholder="100ml">
                                            <div class="input-group-addon">.00</div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-3 label-margin" for="100ml">200ml:</label>
                                        <div class="col-sm-9 input-group">
                                            <div class="input-group-addon">R</div>
                                            <input type="number" name="100ml" class="form-control" placeholder="200ml">
                                            <div class="input-group-addon">.00</div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-3 label-margin" for="100ml">500g:</label>
                                        <div class="col-sm-9 input-group">
                                            <div class="input-group-addon">R</div>
                                            <input type="number" name="100ml" class="form-control" placeholder="500g">
                                            <div class="input-group-addon">.00</div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-3 label-margin" for="100ml">750g:</label>
                                        <div class="col-sm-9 input-group">
                                            <div class="input-group-addon">R</div>
                                            <input type="number" name="100ml" class="form-control" placeholder="750g">
                                            <div class="input-group-addon">.00</div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-3 label-margin" for="100ml">1kg Bag:</label>
                                        <div class="col-sm-9 input-group">
                                            <div class="input-group-addon">R</div>
                                            <input type="number" name="100ml" class="form-control" placeholder="1kg Bag">
                                            <div class="input-group-addon">.00</div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-3 label-margin" for="100ml">1kg Tub:</label>
                                        <div class="col-sm-9 input-group">
                                            <div class="input-group-addon">R</div>
                                            <input type="number" name="100ml" class="form-control" placeholder="1kg Tub">
                                            <div class="input-group-addon">.00</div>
                                        </div>
                                    </div>
                            </div>
                            </div>

                            <div class="row">

                                <!--Column 3-->
                                <div class="col-sm-6">
                                    <h4 class="text-center"><span class="product-heading orange-circle">Worcester Sauce spice</span></h4>


                                    <div class="form-group">
                                        <label class="col-sm-3 label-margin" for="100ml">100ml:</label>
                                        <div class="col-sm-9 input-group">
                                            <div class="input-group-addon">R</div>
                                            <input type="number" name="100ml" class="form-control" placeholder="100ml">
                                            <div class="input-group-addon">.00</div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-3 label-margin" for="100ml">200ml:</label>
                                        <div class="col-sm-9 input-group">
                                            <div class="input-group-addon">R</div>
                                            <input type="number" name="100ml" class="form-control" placeholder="200ml">
                                            <div class="input-group-addon">.00</div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-3 label-margin" for="100ml">500g:</label>
                                        <div class="col-sm-9 input-group">
                                            <div class="input-group-addon">R</div>
                                            <input type="number" name="100ml" class="form-control" placeholder="500g">
                                            <div class="input-group-addon">.00</div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-3 label-margin" for="100ml">750g:</label>
                                        <div class="col-sm-9 input-group">
                                            <div class="input-group-addon">R</div>
                                            <input type="number" name="100ml" class="form-control" placeholder="750g">
                                            <div class="input-group-addon">.00</div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-3 label-margin" for="100ml">1kg Bag:</label>
                                        <div class="col-sm-9 input-group">
                                            <div class="input-group-addon">R</div>
                                            <input type="number" name="100ml" class="form-control" placeholder="1kg Bag">
                                            <div class="input-group-addon">.00</div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-3 label-margin" for="100ml">1kg Tub:</label>
                                        <div class="col-sm-9 input-group">
                                            <div class="input-group-addon">R</div>
                                            <input type="number" name="100ml" class="form-control" placeholder="1kg Tub">
                                            <div class="input-group-addon">.00</div>
                                        </div>
                                    </div>
                                </div>
                                <!--Column 4-->
                                <div class="col-sm-6">
                                    <h4 class="text-center"><span class="product-heading yellow-circle">Flippen Lekka Curry Mix</span></h4>

                                  <div class="form-group">
                                        <label class="col-sm-3 label-margin" for="100ml">250ml:</label>
                                        <div class="col-sm-9 input-group">
                                            <div class="input-group-addon">R</div>
                                            <input type="number" name="100ml" class="form-control" placeholder="750g">
                                            <div class="input-group-addon">.00</div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-3 label-margin" for="100ml">500g Bag:</label>
                                        <div class="col-sm-9 input-group">
                                            <div class="input-group-addon">R</div>
                                            <input type="number" name="100ml" class="form-control" placeholder="1kg Bag">
                                            <div class="input-group-addon">.00</div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-3 label-margin" for="100ml">1kg Bag:</label>
                                        <div class="col-sm-9 input-group">
                                            <div class="input-group-addon">R</div>
                                            <input type="number" name="100ml" class="form-control" placeholder="1kg Tub">
                                            <div class="input-group-addon">.00</div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </section>

    <!-- Section 2 - Results -->

    <section class="results" ng-controller="ResultsCtrl">
        <div class="container" ng-if="orderValue">
            <div class="row">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <h2 class="panel-title">Order Summary</h2>
                    </div>
                    <div class="panel-body greypanel">
                        <div class="row">
                            <!--------------Column 1-----------Original Results---------------->
                            <div class="col-sm-2">
                                <ul class="list-group">
                                    <!---------------PHP---------------->
                                    <li class="list-group-item left-border-green">
                                        <span class="badge">Quantity: 122 </span>
                                        <h5><strong>100ml Bottels</strong></h5>
                                        <p style="margin-bottom:0px" class="text-success">
                                            <span class="glyphicon glyphicon-shopping-cart glyphiconblack" aria-hidden="true"></span><strong> Price : R 1220.00</strong>
                                        </p>
                                        <p style="margin-bottom:0px" class="text-warning">
                                            <span class="glyphicon glyphicon-briefcase glyphiconblack" aria-hidden="true"></span><strong> Weight : 15.25 Kg</strong>
                                        </p>
                                    </li>
                                    <li class="list-group-item left-border-green">
                                        <span class="badge">Quantity: 50 </span>
                                        <h5><strong>200ml Bottels</strong></h5>
                                        <p style="margin-bottom:0px" class="text-success">
                                            <span class="glyphicon glyphicon-shopping-cart glyphiconblack" aria-hidden="true"></span><strong> Price : R 850.00</strong>
                                        </p>
                                        <p style="margin-bottom:0px" class="text-warning">
                                            <span class="glyphicon glyphicon-briefcase glyphiconblack" aria-hidden="true"></span><strong> Weight : 10.75 Kg</strong>
                                        </p>
                                    </li>
                                    <li class="list-group-item left-border-green">
                                        <span class="badge">Quantity: 5 </span>
                                        <h5><strong>500g Vaccum</strong></h5>
                                        <p style="margin-bottom:0px" class="text-success">
                                            <span class="glyphicon glyphicon-shopping-cart glyphiconblack" aria-hidden="true"></span><strong> Price : R 225.00</strong>
                                        </p>
                                        <p style="margin-bottom:0px" class="text-warning">
                                            <span class="glyphicon glyphicon-briefcase glyphiconblack" aria-hidden="true"></span><strong> Weight : 2.55 Kg</strong>
                                        </p>
                                    </li>
                                    <li class="list-group-item left-border-green">
                                        <span class="badge">Quantity: 5 </span>
                                        <h5><strong>1Kg Vaccum</strong></h5>
                                        <p style="margin-bottom:0px" class="text-success">
                                            <span class="glyphicon glyphicon-shopping-cart glyphiconblack" aria-hidden="true"></span><strong> Price : R 350.00</strong>
                                        </p>
                                        <p style="margin-bottom:0px" class="text-warning">
                                            <span class="glyphicon glyphicon-briefcase glyphiconblack" aria-hidden="true"></span><strong> Weight : 5.05 Kg</strong>
                                        </p>
                                    </li>
                                    <li class="list-group-item left-border-green">
                                        <span class="badge">Quantity: 5 </span>
                                        <h5><strong>1Kg Tub</strong></h5>
                                        <p style="margin-bottom:0px" class="text-success">
                                            <span class="glyphicon glyphicon-shopping-cart glyphiconblack" aria-hidden="true"></span><strong> Price : R 350.00</strong>
                                        </p>
                                        <p style="margin-bottom:0px" class="text-warning">
                                            <span class="glyphicon glyphicon-briefcase glyphiconblack" aria-hidden="true"></span><strong> Weight : 5.3 Kg</strong>
                                        </p>
                                    </li>
                                    <!---------------End of list--------------->
                                </ul>
                                <!---------------End of Column 1------------->
                            </div>
                            <!--------------Column 2-----------HOT Results---------------->
                            <div class="col-sm-2">
                                <ul class="list-group">

                                    <!---------------Order Calculation---------------100ml Hot---------->
                                    <li class="list-group-item left-border-red">
                                        <span class="badge">Quantity: 50 </span>
                                        <h5><strong>100ml Hot Bottels</strong></h5>
                                        <p style="margin-bottom:0px" class="text-success">
                                            <span class="glyphicon glyphicon-shopping-cart glyphiconblack" aria-hidden="true"></span><strong> Price : R 500.00</strong>
                                        </p>
                                        <p style="margin-bottom:0px" class="text-warning">
                                            <span class="glyphicon glyphicon-briefcase glyphiconblack" aria-hidden="true"></span><strong> Weight : 6.25 Kg</strong>
                                        </p>
                                    </li>
                                    <li class="list-group-item left-border-red">
                                        <span class="badge">Quantity: 5 </span>
                                        <h5><strong>200ml Hot Bottels</strong></h5>
                                        <p style="margin-bottom:0px" class="text-success">
                                            <span class="glyphicon glyphicon-shopping-cart glyphiconblack" aria-hidden="true"></span><strong> Price : R 85.00</strong>
                                        </p>
                                        <p style="margin-bottom:0px" class="text-warning">
                                            <span class="glyphicon glyphicon-briefcase glyphiconblack" aria-hidden="true"></span><strong> Weight : 1.075 Kg</strong>
                                        </p>
                                    </li>
                                    <li class="list-group-item left-border-red">
                                        <span class="badge">Quantity: 5 </span>
                                        <h5><strong>500g Hot Vaccum</strong></h5>
                                        <p style="margin-bottom:0px" class="text-success">
                                            <span class="glyphicon glyphicon-shopping-cart glyphiconblack" aria-hidden="true"></span><strong> Price : R 225.00</strong>
                                        </p>
                                        <p style="margin-bottom:0px" class="text-warning">
                                            <span class="glyphicon glyphicon-briefcase glyphiconblack" aria-hidden="true"></span><strong> Weight : 2.55 Kg</strong>
                                        </p>
                                    </li>
                                    <li class="list-group-item left-border-red">
                                        <span class="badge">Quantity: 5 </span>
                                        <h5><strong>1Kg Hot Vaccum</strong></h5>
                                        <p style="margin-bottom:0px" class="text-success">
                                            <span class="glyphicon glyphicon-shopping-cart glyphiconblack" aria-hidden="true"></span><strong> Price : R 350.00</strong>
                                        </p>
                                        <p style="margin-bottom:0px" class="text-warning">
                                            <span class="glyphicon glyphicon-briefcase glyphiconblack" aria-hidden="true"></span><strong> Weight : 5.05 Kg</strong>
                                        </p>
                                    </li>
                                    <!---------------End of list--------------->
                                </ul>
                                <!---------------End of Column 2------------->
                            </div>
                            <!--------------Column 3-----------WS Results---------------->
                            <div class="col-sm-2">
                                <ul class="list-group">

                                    <!---------------Order Calculation---------------100ml Hot---------->
                                    <li class="list-group-item left-border-orange">
                                        <span class="badge">Quantity: 50 </span>
                                        <h5><strong>100ml Hot Bottels</strong></h5>
                                        <p style="margin-bottom:0px" class="text-success">
                                            <span class="glyphicon glyphicon-shopping-cart glyphiconblack" aria-hidden="true"></span><strong> Price : R 500.00</strong>
                                        </p>
                                        <p style="margin-bottom:0px" class="text-warning">
                                            <span class="glyphicon glyphicon-briefcase glyphiconblack" aria-hidden="true"></span><strong> Weight : 6.25 Kg</strong>
                                        </p>
                                    </li>
                                    <li class="list-group-item left-border-orange">
                                        <span class="badge">Quantity: 5 </span>
                                        <h5><strong>200ml Hot Bottels</strong></h5>
                                        <p style="margin-bottom:0px" class="text-success">
                                            <span class="glyphicon glyphicon-shopping-cart glyphiconblack" aria-hidden="true"></span><strong> Price : R 85.00</strong>
                                        </p>
                                        <p style="margin-bottom:0px" class="text-warning">
                                            <span class="glyphicon glyphicon-briefcase glyphiconblack" aria-hidden="true"></span><strong> Weight : 1.075 Kg</strong>
                                        </p>
                                    </li>
                                    <li class="list-group-item left-border-orange">
                                        <span class="badge">Quantity: 5 </span>
                                        <h5><strong>500g Hot Vaccum</strong></h5>
                                        <p style="margin-bottom:0px" class="text-success">
                                            <span class="glyphicon glyphicon-shopping-cart glyphiconblack" aria-hidden="true"></span><strong> Price : R 225.00</strong>
                                        </p>
                                        <p style="margin-bottom:0px" class="text-warning">
                                            <span class="glyphicon glyphicon-briefcase glyphiconblack" aria-hidden="true"></span><strong> Weight : 2.55 Kg</strong>
                                        </p>
                                    </li>
                                    <li class="list-group-item left-border-orange">
                                        <span class="badge">Quantity: 5 </span>
                                        <h5><strong>1Kg Hot Vaccum</strong></h5>
                                        <p style="margin-bottom:0px" class="text-success">
                                            <span class="glyphicon glyphicon-shopping-cart glyphiconblack" aria-hidden="true"></span><strong> Price : R 350.00</strong>
                                        </p>
                                        <p style="margin-bottom:0px" class="text-warning">
                                            <span class="glyphicon glyphicon-briefcase glyphiconblack" aria-hidden="true"></span><strong> Weight : 5.05 Kg</strong>
                                        </p>
                                    </li>
                                    <!---------------End of list--------------->
                                </ul>
                                <!---------------End of Column 3------------->
                            </div>
                            <!--------------Column 4-----------Curry Results---------------->
                            <div class="col-sm-2">
                                <ul class="list-group">

                                    <!---------------Order Calculation---------------250ml Curry mix---------->
                                    <li class="list-group-item left-border-yellow">
                                        <span class="badge">Quantity: 5 </span>
                                        <h5><strong>750g Tub</strong></h5>
                                        <p style="margin-bottom:0px" class="text-success">
                                            <span class="glyphicon glyphicon-shopping-cart glyphiconblack" aria-hidden="true"></span><strong> Price : R 290.00</strong>
                                        </p>
                                        <p style="margin-bottom:0px" class="text-warning">
                                            <span class="glyphicon glyphicon-briefcase glyphiconblack" aria-hidden="true"></span><strong> Weight : 4 Kg</strong>
                                        </p>
                                    </li>

                                    <!---------------End of list--------------->
                                </ul>
                                <!---------------End of Column 4------------->
                            </div>
                            <!--------------Column 5-----------Master Results---------------->
                            <div class="col-sm-4">

                                <div class="panel panel-default">
                                    <div class="panel-body">
                                        <div class="row">
                                            <div class="col-xs-3">
                                                <br>
                                                <span style="font-size:45px ; margin:0 auto;" class="glyphicon glyphicon-shopping-cart " aria-hidden="true"></span> </div>
                                            <div class="col-sm-9">
                                                <div id="div-content">
                                                    <h4><strong>Total Value</strong></h4>
                                                    <p class="text-success" style="font-size:22px"><strong>R4,445.00</strong>
                                                    </p>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col-xs-3">
                                                <br>
                                                <span style="font-size:45px ; margin:0 auto;" class="glyphicon glyphicon-dashboard" aria-hidden="true"></span> </div>
                                            <div class="col-sm-9">
                                                <div id="div-content">
                                                    <h4><strong>Shipping Weight</strong></h4>
                                                    <p class="text-danger" style="font-size:22px"><strong>57.83 Kg</strong>
                                                    </p>
                                                </div>
                                            </div>

                                        </div>
                                        <div class="row">
                                            <div class="col-xs-3">
                                                <br>
                                                <div class="text-center">
                                                    <span style="font-size:30px ; margin:0 auto;" class="glyphicon glyphicon-usd " aria-hidden="true"></span>
                                                </div>
                                            </div>
                                            <div class="col-sm-9">
                                                <div id="div-content">
                                                    <h4><strong>Profit</strong></h4>
                                                    <p style="font-size:16px" class="text-info"><strong>R1,806.00</strong>
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-xs-3">
                                                <br>
                                                <div class="text-center">
                                                    <span style="font-size:20px ; margin:0 auto;" class="glyphicon glyphicon-tasks " aria-hidden="true"></span>
                                                </div>
                                            </div>
                                            <div class="col-sm-9">
                                                <h4><strong>Stock Required</strong></h4>
                                                <div id="div-content">
                                                    <h5><strong>Flippen Lekka Spice</strong></h5>
                                                    <p class="text-warning mainresult-small">49.42 Kg</p>
                                                    <h5><strong>Curry Mix</strong></h5>
                                                    <p class="text-warning mainresult-small">0.00 Kg</p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-xs-3">
                                                <br>
                                                <div class="text-center"><span style="font-size:20px ; margin:0 auto;" class="glyphicon glyphicon-filter " aria-hidden="true"></span>
                                                </div>
                                            </div>
                                            <div class="col-sm-9">
                                                <div id="div-content">
                                                    <h5><strong>PET Bottles</strong></h5>
                                                    <p class="text-warning mainresult-small">172 x 100ml</p>
                                                    <p class="text-warning mainresult-small">55 x 200ml</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>





                                </div>
                                <!---------------End of ROW-------------->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!--Footer-->

    <footer class="iNetfooter">
        <div class="container">

            Copyright © 2015 Flippen Lekka&trade; Holdings. All rights reserved. Development by InservNet.

        </div>
    </footer>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/calculator.js"></script>
</body>

</html>
